:root {
    --bg: #050a27;
    --primary: #39f1a9;
    --primary-transparent: #39ff1a29;
    --widget-bg: #0e011c;
    --secondary: #00f0ff;
    --hover: #0126a4;
    --text: #f6f7f5;
    --text-dark: #01ef10;
    --danger: #ff6e10;
    --danger-r: #2a2430;
    --warning: #ffa420;
    --warning-r: #4f0f0e;
    --success: #00ff66;
    --password-strength-bg: #141f17;
    --progress-bg: #1e3324;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: var(--bg);
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
    color: var(--text);
}

.box {
    background: var(--widget-bg);
    color: var(--text);
    padding: 0.75rem;
    border-radius: 0.65rem;
    max-width: 14rem;
    width: 100%;
    border: 1px solid var(--box-border);
}

._input_wrapper {
    position: relative;
    padding: 1rem 0;
}

._input_field {
    border: 0;
    border-bottom: 2px solid var(--secondary);
    outline: 0;
    font-size: 0.75rem;
    color: var(--text);
    padding: 0.25rem 0;
    padding-right: 2rem;
    width: 100%;
    background: transparent;
    transition: border-color 0.25s, box-shadow 0.3s;
}

._input_field::placeholder {
    color: transparent;
}

._input_label {
    font-size: 0.75rem;
    color: var(--secondary);
    top: 1.25rem;
    position: absolute;
    left: 0;
    pointer-events: none;
    transform-origin: left top;
    transition: 0.3s;
}

._input_field:focus ~ ._input_label,
._input_field:not(:placeholder-shown) ~ ._input_label {
    top: 0.25rem;
    display: block;
    font-size: 0.625rem;
    color: var(--secondary);
}

._input_field:focus {
    border-bottom: 2px solid var(--primary);
}

._input_icon {
    position: absolute;
    bottom: 0.3rem;
    right: 0.25rem;
    height: 1.65rem;
    width: 1.65rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: color 0.3s ease;
}

._input_icon svg {
    width: 100%;
    height: 100%;
}

._input_field:focus ~ ._input_icon {
    color: var(--primary);
}

/* Password Strength widget */

.password-strength {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    background: var(--password-strength-bg);
    padding: 0.75rem;
}

.password-strength-indicator p {
    font-weight: bold;
}

.password-strength-indicator_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.password-strength-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 0.6rem;
}

.password-strength-items li {
    height: 1rem;
    display: flex;
    gap: 0.125rem;
    align-items: center;
    font-size: 0.5rem;
}

.password-strength-items li img {
    width: 0.6rem;
    height: 0.6rem;
}

.label-danger {
    color: var(--danger);
}

.label-warning {
    color: var(--warning);
}

.label-success {
    color: var(--success);
}

/* Progress Bar */

.progress {
    height: 0.15rem;
    width: 100%;
    background: var(--progress-bg);
    border-radius: 0.25rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}

.progress-bar {
    height: 0.1875rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
}

.progress-bar-danger {
    background: var(--danger);
}

.progress-bar-warning {
    background: var(--warning);
}

.progress-bar-success {
    background: var(--success);
}
